---
import BaseLayout from '@layouts/base-layout.astro';
import PartialLink from '@components/partial-link.astro';

import { clientUrls } from './_paths';

export function getStaticPaths(): Array<{ params: { path: string | undefined } }> {
    return [{ params: { path: undefined } }, ...clientUrls.map((url) => ({ params: { path: url } }))];
}

enum ElementID {
    PARTIALS_EXAMPLE_CONTENT_WRAPPER = 'content',
    PARTIALS_EXAMPLE_CONTENT_WRAPPER_SELECTOR = '#content',
}

const links = [
    {
        clientUrl: `/partials-example/${clientUrls[0]}`,
        contentUrl: '/partials/one',
        label: 'One',
    },
    {
        clientUrl: `/partials-example/${clientUrls[1]}`,
        contentUrl: '/partials/two',
        label: 'Two',
    },
    {
        clientUrl: `/partials-example/${clientUrls[2]}`,
        contentUrl: '/partials/three',
        label: 'Three',
    },
];

const { path } = Astro.params;
const onloadContentUrl = links.find((link) => link.clientUrl === `/partials-example/${path}`)?.contentUrl;
---

<style>
    @reference '#baseCss';

    .nav-link {
        @apply p-2;
        @apply hover:underline;
        @apply hover:underline-offset-4;
        @apply decoration-2;
        @apply decoration-stone-300;
    }
</style>

<BaseLayout>
    <div class="h-screen grid grid-rows-[1fr_auto]">
        <div class="grid grid-cols-[auto_1fr]">
            <nav class="bg-stone-400 dark:bg-slate-700 p-8">
                <ol class="space-y-2">
                    <li class="mb-4">
                        <a href="/" class="nav-link text-lg font-bold">Home</a>
                    </li>
                    {
                        links.map((link) => (
                            <li>
                                <PartialLink
                                    clientUrl={link.clientUrl}
                                    contentUrl={link.contentUrl}
                                    target={ElementID.PARTIALS_EXAMPLE_CONTENT_WRAPPER_SELECTOR}
                                    class="nav-link"
                                    label={link.label}
                                />
                            </li>
                        ))
                    }
                </ol>
            </nav>
            <main class="bg-stone-300 dark:bg-slate-600 p-12">
                <div class="mb-4">Content from the server:</div>
                {
                    onloadContentUrl ? (
                        <div id={ElementID.PARTIALS_EXAMPLE_CONTENT_WRAPPER} hx-get={onloadContentUrl} hx-trigger="load">
                            Loading...
                        </div>
                    ) : <div id={ElementID.PARTIALS_EXAMPLE_CONTENT_WRAPPER} />
                }
            </main>
        </div>
    </div>
</BaseLayout>
